/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('/fonts/atkinson_regular.woff') format('woff');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url('/fonts/atkinson_bold.woff') format('woff');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400, 500, 600, 700;
  font-display: auto;
  src: url('/fonts/space_grotesk.ttf') format('truetype');
}

:root {
  --accent: hsl(151, 43%, 45%);
  --accent-dark: hsl(151, 70%, 21%);
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
  --box-shadow-md: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%);
  --box-shadow-sm: 0 2px 6px rgba(var(--gray), 25%);

  --surface: white;
  --surface-secondary: rgb(var(--gray-light));
  --text-primary: rgb(var(--gray-dark));
  --text-secondary: rgb(var(--black));
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: var(--surface);
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--text-primary);
  font-size: 1.125rem;
  line-height: 1.7;
}


@media (prefers-color-scheme: dark) {
  :root {
    --surface: #1a1a1a;
    --surface-secondary: #2a2a2a;
    --text-primary: rgb(var(--gray-light));
    --text-secondary: rgb(var(--gray-light));
  }

  [data-theme="light"] {
    --surface: white;
    --surface-secondary: rgb(var(--gray-light));
    --text-primary: rgb(var(--gray-dark));
    --text-secondary: rgb(var(--black));
  }
}


main {
  width: 720px;
  max-width: calc(100% - 2rem);
  margin: auto;
  padding: 3rem 1rem;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0 0 0.5rem 0;
  color: var(--text-secondary);
  line-height: 1.2;
  /* font-size: min(inherit, 2.441em); */
}

strong,
b {
  font-weight: 700;
  font-size: 1.333rem;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--accent);
}

p {
  margin-bottom: 1rem;
}

.prose p {
  margin-bottom: 2rem;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 2px 5px;
  background-color: var(--surface-secondary);
  border-radius: 2px;
}

pre {
  padding: 1.5rem;
  border-radius: 8px;
}

pre>code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333rem;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
  body {
    font-size: 1.125rem;
  }

  main {
    padding: 1rem;
  }
}

ul.style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
