---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      video {
        margin: 0 auto;
        border: 5px solid;
        border-radius: 3px;
        border-color: hsl(151deg 79% 73%);
      }

      :has(> video) {
        width: 100%;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>🧑‍🚀 Hello, Astronaut!</h1>
      <p>
        Thank you for visiting my website. This is currently a work in progress.
        You can visit my other live website at
        <a
          href='https://brianpob.me'
          aria-label="Link to Brian's current website">brianpob.me</a
        >. Though it has not been updated in a long time. That's why I'm
        building this new one!
      </p>
      <p>
        Everything here other than this first page is placeholder content
        generated with Astro's blog template. There's really nothing to check
        out just yet. But I'm working on it!
      </p>
      <p>
        In the meantime, please check out this <a
          href='https://solid-mentor.netlify.app'
          aria-label="Link to Brian's challenge solutions">other project</a
        > I've been working on. It's a collection of my solutions to various challenges
        from Frontend Mentor built with SolidJS plus a bunch of other frameworks
        and tools. Here's a preview.
      </p>
      <div>
        <video
          autoplay
          loop
          controls
          aria-label='Video demonstrating age calculator component'
        >
          <source
            src={new URL('age-calculator-sm.webm', Astro.url).toString()}
            type='video/webm'
          />
        </video>
        <p>
          <a
            href='https://solid-mentor.netlify.app/challenges/agecalculator'
            aria-label='Link to age calculator challenge'
            >Age Calculator
          </a>challenge done with SCSS and the View Transitions API.
        </p>
      </div>
    </main>
    <Footer />
  </body>
</html>
