---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header transition:animate='none'>
  <a href='#main-content' class='sr-only sr-show-on-focus' id='skip-link'
    >Skip to main content</a
  >
  <nav>
    <a href='/' aria-label="Brian Poblete - site home" class="site-home">{SITE_TITLE}</a>

    <ul class='ul-style-none internal-links'>
      <li><HeaderLink href='/'>Home</HeaderLink></li>
      <li><HeaderLink href='/blog'>Blog</HeaderLink></li>
      <li><HeaderLink href='/resume'>Resume</HeaderLink></li>
      <li><HeaderLink href='/about'>About</HeaderLink></li>
    </ul>
  </nav>
</header>

<style>
  #skip-link {
    position: absolute;
    left: 0;
    background: var(--surface);
    padding: var(--size-3);
    z-index: 100;
  }

  .site-home {
    font-family: 'Space Grotesk', sans-serif;
    font-size: var(--font-size-fluid-1);
    font-weight: bold;
  }
  header {
    margin: 0;
    padding: 0 var(--size-3);
    background: var(--surface);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (width < 768px) {
    nav {
      flex-direction: column;
      justify-content: center;
    }

    nav > .internal-links {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      gap: 0;
    }

    .site-home {
      
    }

  }
  nav a {
    margin: var(--size-2) 0.425rem;
    color: var(--black);
    text-decoration: none;
  }
  nav a.active {
    text-decoration: underline var(--accent) var(--size-1);
    text-underline-offset: var(--size-3);

  }
  .social-links {
    display: flex;
    gap: var(--size-3);
  }

  ul {
    display: flex;
    gap: var(--size-3);
  }
  @media (width < 720px) {
    ul {
      overflow-x: scroll;
    }
  }
</style>
