---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import SocialLinks from './SocialLinks.astro';
---

<header transition:animate='none'>
  <a href='#main-content' class='sr-only sr-show-on-focus' id="skip-link" >Skip to main content</a>
  <nav>
    <h2><a href='/'>{SITE_TITLE}</a></h2>
    <div class='internal-links'>
      <ul class='style-none'>
        <li><HeaderLink href='/'>Home</HeaderLink></li>
        <li><HeaderLink href='/blog'>Blog</HeaderLink></li>
        <li><HeaderLink href='/resume'>Resume</HeaderLink></li>
        <li><HeaderLink href='/about'>About</HeaderLink></li>
      </ul>
    </div>
    <div class='social-links'>
      <SocialLinks />
    </div>
  </nav>
</header>


<style>
  #skip-link {
    position: absolute;
    left: 0;
    background: var(--surface);
    padding: 1rem;
    z-index: 100;
  }
  header {
    margin: 0;
    padding: 0 1rem;
    background: var(--surface);
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1rem;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Width for folded Galaxy Fold */
  @media (max-width: 375px) {
    nav {
      flex-direction: column;
      justify-content: center;
    }

    nav > .internal-links {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    h2 {
      margin-top: 1rem;
    }
  }
  nav a {
    margin: 1rem 0.5rem;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links {
    display: flex;
    gap: 1rem;
  }

  ul {
    display: flex;
    gap: 1rem;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
    ul {
      overflow-x: scroll;
    }
  }
</style>
