
<button class="theme-toggle" transition:persist> theme toggle: <span class="current-theme">auto</span> </button>
<style>
   .theme-toggle {
       padding: 1rem 1.5rem;
       border: none;
       background-color: var(--text-secondary);
       color: var(--surface);
       max-width: 30ch;
   }
</style>
